<header id="header">
    <section class="inner">

        <h1 class="logo">
            <a href="/matstagram">
                <div class="sprite_write_logo"></div>
            </a>
        </h1>

        <div class="search_box">
            <input type="text" placeholder="검색" id="search-field">

            <div class="fake_field">
                <span class="sprite_small_search_icon"></span>
                <span>검색</span>
            </div>
        </div>
        <% if(UserInfo != null) { %>   
        <div class="right_icons">
            <a href="/matstagram/post/new"><div class="sprite_camera_icon"></div></a>
            <a href="/matstagram/explore"><div class="sprite_compass_icon"></div></a>
            <a href="/matstagram/my/like"><div class="sprite_heart_icon_nav"></div></a>
            <a href="/matstagram/my/profile"><div class="sprite_user_icon_outline"></div></a>
        </div>
        <% } else { %>
        <div class="right_icons">
            <a href="/matstagram/login"><div class="sprite_camera_icon"></div></a>
            <a href="/matstagram/login"><div class="sprite_compass_icon"></div></a>
            <a href="/matstagram/login"><div class="sprite_heart_icon_nav"></div></a>
            <a href="/matstagram/login"><div class="sprite_user_icon_outline"></div></a>
        </div>  
        <% } %>

    </section>

</header>