<header id="header">
    <section class="inner">

        <h1 class="logo">
            <a href="/matstagram">
                <div class="sprite_write_logo"></div>
            </a>
        </h1>

        <div class="search_box">
            <span class="sprite_small_search_icon"></span>
            <input type="text" id="search-field">
        </div>
        <% if(UserInfo != null) { %>   
        <div class="right_icons">
            <a href="/matstagram/post/new"><div class="sprite_camera_icon"></div></a>
            <a href="/matstagram/explore"><div class="sprite_compass_icon"></div></a>
            <a href="/matstagram/my/profile"><div class="sprite_user_icon_outline"></div></a>
        </div>
        <% } else { %>
        <div class="right_icons">
            <a href="/matstagram/post/new"><div class="sprite_camera_icon"></div></a>
            <a href="/matstagram/explore"><div class="sprite_compass_icon"></div></a>
            <a href="/matstagram/my/profile"><div class="sprite_user_icon_outline"></div></a>
        </div>  
        <% } %>

    </section>
    <script type="text/javascript">
        $('#search-field').keypress(function(event){
            var keyword = $('#search-field').val();
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                window.location.replace("/matstagram/explore/"+keyword);
            }
        });
    </script>
</header>