<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <main>
      <div class="feeds">
        <input type='button', onclick="location.href='matstagram/auth/google'", value='구글로 로그인'>
        <input type='button', onclick="location.href='matstagram/logout'", value='로그아웃'>
          <article>
              <div class="top">
                  <div class="topProfile">
                      <div class="topProfile-img">
                        <svg viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                      </div>
                      <div class="topProfile-name">Feeds User Nickname</div>
                  </div>
                  <div class="topMore"></div>
              </div>
              <div class="articleImg"></div>
              <div class="comment">
                <div class="location">
                  <a href="/matstagram">
                    <div class="location-name">우리동네 맛있는 고깃집</div>
                    <div class="location-detail">서울시 도봉구 방학동 888-22</div>
                  </a>
                  </div>
                </div>
              <div class="articleLove">
                  <div class="loveIcons">
                      <div class="loveIcons-left">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/share.png">  
                      </div>
                      <div class="loveIcons-right">
                          <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png">
                      </div>
                  </div>
                  <div class="loveCount">UserName님 외 n명이 좋아합니다.</div>
              </div>
              <div class="comment">
                  <div class="commented">
                      <div class="commentedProfile">Feeds User Nickname</div>
                      <div class="commentedText">Feeds Contents Detail</div>
                  </div>
                  <div class="moreComment">댓글 n개 모두 보기</div>
                  <div id="commentedWrap">
                      <!-- 여기 추가 -->
                  </div>
              </div>
              <div class="articleTime">n분 전</div>
              <div class="pushComment">
                  <input type="text" id="inputComment" placeholder="댓글 달기...">
                  <span id="inputBtn">등록</span>
              </div>
          </article>
          <article>
            <div class="top">
                <div class="topProfile">
                    <div class="topProfile-img">
                      <svg viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                    </div>
                    <div class="topProfile-name">Feeds User Nickname</div>
                </div>
                <div class="topMore"></div>
            </div>
            <div class="articleImg"></div>
            <div class="articleLove">
                <div class="loveIcons">
                    <div class="loveIcons-left">
                      <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png">
                      <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png">
                      <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/share.png">  
                    </div>
                    <div class="loveIcons-right">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png">
                    </div>
                </div>
                <div class="loveCount">UserName님 외 n명이 좋아합니다.</div>
            </div>
            <div class="comment">
                <div class="commented">
                    <div class="commentedProfile">Feeds User Nickname</div>
                    <div class="commentedText">Feeds Contents Detail</div>
                </div>
                <div class="moreComment">댓글 n개 모두 보기</div>
                <div id="commentedWrap">
                    <!-- 여기 추가 -->
                </div>
            </div>
            <div class="articleTime">n분 전</div>
            <div class="pushComment">
                <input type="text" id="inputComment" placeholder="댓글 달기...">
                <span id="inputBtn">등록</span>
            </div>
        </article>
      </div>
      <div class="main-right" id="mainRight">
        <div class="myProfile">
            <div class="profileImg">
              <svg viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </div>
            <div class="names">
                <div class="profileName">Login User Nickname</div>
                <div class="profileSubname">Login User SubName</div>
            </div>
        </div>

          <div class="story">
              <div class="rightTitle">
                  <div class="rightTitle-title">스토리</div>
                  <div class="rightTitle-more">모두 보기</div>
              </div> 
                <div class="userInfo">
                      <div class="userInfo-profile">
                        <svg viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                      </div>
                        <div class="userInfo-profile-side">
                            <div class="userInfo-profile-name">Recommend User Nickname</div>
                            <div class="user-profile-time">n시간 전</div>
                        </div>
                  </div>
          </div>
          <div class="recommend">
            <div class="rightTitle">
                <div class="rightTitle-title">회원님을 위한 추천</div>
                <div class="rightTitle-more">모두 보기</div>
            </div>
                <div class="userInfo">
                    <div class="userInfo-profile">
                      <svg viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                    </div>
                      <div class="userInfo-profile-side">
                          <div class="userInfo-profile-name">Recommend User NickName</div>
                          <div class="user-profile-time">회원님을 팔로우합니다</div>
                      </div>
                    <div class="follow">팔로우</div>
                </div>
            
          </div>
          <div class="copyright">
            <div class="copyrightNav">
                <ul>
                    <li>소개</li>
                    <li>도움말</li>
                    <li>개인정보처리방침</li>
                    <li>약관</li>
                </ul>
            </div>
            <div class="copyrightInside">© 2020 INSTAGRAM COPY WEB APPLICATION</div>
            <div class="copyrightInside">Look at the awesome logo I made at: <a href='https://onlinelogomaker.com' title='Online Logo Maker'>onlinelogomaker.com</a></div>
          </div>
      </div>
    </main>
  </body>
</html>
