<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link type="text/css" rel="stylesheet" href="/stylesheets/explore.css" >
    </head>
    <body>
        <%- include('../partials/nav') %>
        <section id="container">
            <div id="main_container">
                <section class="b_inner">
                    <div class="mylist_contents contents_container">
                        <div class="pic">
                            <a href="#"><img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"><img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="mylist_contents contents_container active">
                        <div class="pic">
                            <a href="#"><img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"><img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="mylist_contents contents_container active">
                        <div class="pic">
                            <a href="#"><img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"><img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="mylist_contents contents_container active">
                        <div class="pic">
                            <a href="#"><img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"><img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img02.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img03.jpg" alt=""></a>
                        </div>
                        <div class="pic">
                            <a href="#"> <img src="/images/img_section/img01.jpg" alt=""></a>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </body>
</html>