<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <link type="text/css" rel="stylesheet" href="/stylesheets/explore.css" >
    </head>
    <body>
        <%- include('../partials/nav') %>
        <section id="container">
            <div id="main_container">
                <section class="b_inner">
                    <div class="mylist_contents contents_container">
                        <% for(var prop in Posts){ %> 
                            <div class="pic">
                                <a><img src="/userdata/posts/<%=Posts[prop].postnum%>.png" alt=""></a>
                            </div>
                        <% } %>
                    </div>
                </section>
            </div>
        </section>
    </body>
</html>