<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link type="text/css" rel="stylesheet" href="/stylesheets/login.css" >
  </head>
  <body>
    <div class="wrap">
        <div class="leftSide">
            <div class="leftSideImg"></div>
        </div>

        <div class="loginSide">
            <div class="loginForm">
                <div class="logo"></div>
                <div class="login">
                    <a onclick="location.href='login/auth/kakao'"><img src="/images/login_button_kakao.png" class="loginBtn"></a>
                    <a onclick="location.href='login/auth/facebook'"><img src="/images/login_button_facebook.png"></a>
                    <a onclick="location.href='login/auth/google'"><img src="/images/login_button_google.png"></a>
                    <a onclick="location.href='login/auth/naver'"><img src="/images/login_button_naver.png"></a>
                </div>
            </div>
            <div class="join"><span>소셜로그인을 통해 간편하게 가입해보세요!</span></div>
        </div>
    </div>
    <div class="footer">
        <nav>
            <ul>
                <li>소개</li>
                <li>도움말</li>
                <li>개인정보처리방침</li>
                <li>약관</li>
            </ul>
        </nav>
        <div class="copyright">© 2020 INSTAGRAM COPY WEB APPLICATION</div>
    </div>
    <script src="/javascripts/login.js"></script>
  </body>
</html>